<template>
  <div v-show="item" class="bonus">
    <div class="bonus_content">
      <div class="bonus_name">{{ getLocal.top }}</div>
      <div class="bonus_code_name">{{ getLocal.bottom }}</div>
      <div class="bonus_desc">{{ getLocal.desc }}</div>
    </div>
    <div class="bonus_bg">
      <div class="bonus_bg_grd"></div>
      <div class="bonus_bg_grd_hover"></div>
    </div>
    <img :src="getImgUrl" alt="" :class="'img bonus_img bonus_img-' + item.type" >
  </div>
</template>

<style lang="less" scoped>
@import url('../assets/common.less');

.bonus {
  box-sizing:border-box;
  width: 420px;
  height:128px;
  .transition();
  position:relative;
  color:#fff;
  cursor: pointer;
  z-index: 1;

  &_bg {
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #79591b;
    border-radius: 4px;
  }

  &_bg_grd {
    .transition();
    .abolute_full();
    background: radial-gradient(40.2% 95.56% at 75.12% 10.56%,
    #D08900 14.58%, rgba(244, 92, 16, 0.29) 58.21%, rgba(208, 52, 2, 0.01) 99.32%);
  }

  &_bg_grd_hover {
    opacity:0;
    .transition();
    .abolute_full();
    background: radial-gradient(50% 209.66% at 12.5% 77.73%,
    rgba(225, 51, 3, 0.79) 0%, rgba(199, 78, 26, 0) 100%);
  }

  &_img_cont {
    .abolute_full();
  }

  &_img {
    position: absolute;
    right: -100px;
    top: 0px;
  }

  &_img-airplane {
    right:-25px;
  }

  &_img-tank {
    right: -27px;
    top: -22px;
  }

  &_content {
    position:relative;
    z-index:2;
    padding: 24px 26px;
  }

  &_name {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 21px;
    line-height: 1;
  }

  &_code_name {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 28px;
    line-height: 1;
    margin-bottom: 14px;
  }
  &_desc {
    color: @orange;
    font-size: 16px;
    text-transform: uppercase;
  }

  &:focus {
    outline: none;
    transform:scale(1.05);
  }

  &:hover {
    transform:scale(1.05);
  }

  &:hover .bonus_bg, &:focus .bonus_bg{
    border: 1px solid #FAB32B;
  }

  &:hover .bonus_bg_grd_hover, &:focus .bonus_bg_grd_hover{
    opacity:1;
  }

}

@media screen and (max-width: 1080px) {
  .bonus {
    max-width: 48%;
    height: auto;

    &_img {
      top: 106px;
      left: 17px;
      right: unset;
      max-width: 80%;

    }

    &:focus {
      transform:none;
    }

    &:hover {
      transform:none;
    }

    &_name {
      font-size: 16px;
      margin-bottom: 4px;
    }

    &_code_name {
      min-height: 60px;
      font-size: 23px;
    }

    &_content {
      display: flex;
      flex-direction: column;
    }

    &_desc {
      font-size: 14px;
      margin-top: 140px;
    }
  }
}
</style>

<script>
import store from '../store';

export default {
  name: 'BonusComponent',
  store,
  props: ['item'],
  computed: {
    getImgUrl() {
      const { type } = this.item;
      const image = require.context('../assets/img', false, /\.png$/);
      return image(`./${type}.png`);
    },
    getLocal() {
      const { lang } = this.$store.state;
      return {
        top: this.item.title.top[lang],
        bottom: this.item.title.bottom[lang],
        desc: this.item.desc[lang],
      };
    },
  },
};
</script>
