<template>
  <div class="bonus_section">
    <div class="bonus_section_title">
      <!-- Тут нужно подкрасить слово "бесплатный", сделал такой костыль -->
      {{ getLocal[0] }}
      <span class="text-orange">{{ getLocal[1] }}</span>
      {{ getLocal[2] }}
    </div>
    <div class="bonus_section_container">
      <BonusComponent tabindex="21" :item="types.airplane"/>
      <div class="bonus_section_or">
        <div class="bonus_section_or_title">
          {{ getLocal[3] }}
        </div>
        <img class="bonus_section_or_img" src="@/assets/img/icon_or.png" alt="">
      </div>

      <BonusComponent tabindex="22" :item="types.tank"/>
    </div>
  </div>
</template>

<style lang="less" scoped>
@import url('../assets/common.less');
.bonus_section {
  position: absolute;
  top: 64%;
  transform: translate(0, -50%);
  width: 100%;
  &_title {
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.68);
    background: rgba(0, 0, 0, 0.33);
    max-width: 600px;
    margin: 0 auto 32px;
  }

  &_or {
    position: relative;

    &_title {
      position: absolute;
      text-align: center;
      width: 100%;
      font-size: 15px;
      top: 50%;
      transform: translate(0, -70%);
      font-weight: 900;
      text-transform: uppercase;
      color: #0F0A11;
    }

    &_img {
      width:94px
    }
  }
}

.bonus_section_container {
  margin: 0 auto;
  max-width: 996px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1080px) {
  .bonus_section {
    margin-bottom: 60px;
    position: static;
    transform: none;
    padding: 0 18px;

    &_container {
      align-items: stretch;
    }

    &_or {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 90%);
    }

    &_title {
      font-size: 37px;
      padding: 0 18px;
    }
  }
}
</style>

<script>
import store from '../store';

import BonusComponent from './bonus.vue';
import { BONUS_SECTION as types } from '../assets/constants';

export default {
  name: 'BonusSectionComponent',
  store,
  components: {
    BonusComponent,
  },
  data() {
    return {
      types,
    };
  },
  computed: {
    getLocal() {
      const { lang } = this.$store.state;
      const arr = this.types.title[lang];
      arr.push(this.types.or[lang]);
      return arr;
    },
  },
};
</script>
