<template>
  <footer>
    <div class="w-hack"><img :src="require('@/assets/img/gaijin-logo.png')"></div>
    <ul class="nav_links">
      <li v-for="link in links" :key="link.id" class="nav_item">
        <a :tabindex="'1' + link.id"
          class="nav_link"
          target="_blank"
          :href="link.url"
        >{{link.title[lang]}}</a>
      </li>
    </ul>
    <div class="w-hack text-right"><img :src="require('@/assets/img/pegi.png')"></div>
    <div class="footer_mob_labels">
      <img :src="require('@/assets/img/gaijin-logo.png')">
      <img :src="require('@/assets/img/pegi.png')">
    </div>
  </footer>
</template>

<script>
import store from '../store';

import { FOOTER_LINKS as links } from '../assets/constants';

export default {
  name: 'FooterComponent',
  store,
  data() {
    return {
      links,
    };
  },
  computed: {
    lang() {
      return this.$store.state.lang;
    },
  },
};
</script>

<style lang="less" scoped>
@import url('../assets/common.less');

.footer_mob_labels {
  display: none;
}
footer {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 30px 30px;
  margin-top: 15px;
}

.w-hack {
  width: 130px;
}

.nav{
  &_links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  &_item {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }

  &_link {
    color: #ABACAE;
    text-decoration: none;
    position: relative;
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background: #ababab;
      position: absolute;
      left: 0;
      bottom: 1px;
      .transition();
    }
    &:focus:after, &:hover:after {
      background: transparent;
    }
    &:focus, &:hover {
      outline: none;
      color: @orange;
    }

  }

}

@media screen and (max-width: 1080px) {
  footer {
    flex-direction: column;
  }
  .w-hack {
    display: none;
  }

  .nav_links {
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
  }

  .nav_link:after {
    // display: none;
  }

  .nav_item {
    margin-bottom: 16px;
  }

  .footer_mob_labels {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
}

</style>
