<template>
  <div class="gallery">
    <div class="gallery_container">
      <div class="gallery_title">
        <div class="gallery_title_top">{{ getLocal.top }}</div>
        <div class="gallery_title_bottom">{{ getLocal.bottom }}</div>
      </div>
      <div class="gallery_list">
        <div v-for="thumb in thumbs" :key="thumb"  class="gallery_item" @click="openImg(thumb)">
          <img :src="thumb" alt="" class="gallery_thumb">
        </div>
      </div>
    </div>
    <ModalComponent :img="curImg" v-show="showModal" @closeModal="closeModal"/>
  </div>
</template>

<style lang="less" scoped>
@import url('../assets/common.less');
.gallery {
  display: flex;
  justify-content: center;
  margin-top: auto;

  &_container {
    position: relative;
  }

  &_title {
    position: absolute;
    line-height: 1;
    text-align: right;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;
    transform: translateX(-100%);
    left: -15px;
    white-space: nowrap;
    &_bottom {
      line-height: 1.3;
    }
  }

  &_list {
    display: flex;
  }

  &_thumb {
    height: 50px;
    position: relative;
    z-index: 1;
  }

  &_item {
    position: relative;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }

    &:after {
      position: absolute;
      content: '';
      width: calc(100% + 2px);
      height: calc(100% - 4px);
      background: linear-gradient(106.61deg, #9C553E 0.75%, #FFD971 100.69%);
      left: -1px;
      top: -1px;
    }
  }
}

@media screen and (max-width: 1080px) {
  .gallery {

    &_title {
      position: static;
      transform: none;
      margin-bottom: 20px;
      text-align: center;
    }

    &_container {
      width: 100%;
      padding: 0 18px;

    }

    &_list {
      flex-wrap: wrap;
    }
  }

  .gallery_title_top {
    margin-right: 8px;
  }

  .gallery_title_top, .gallery_title_bottom {
    display: inline;
    line-height: 1.3;
  }

  .gallery_item {
    width: calc(50% - 4px);
    margin-right: 8px;

    & img {
      width: 100%;
      height: unset;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .gallery_item:first-child {
    width: 100%;
    margin-right: 0;
    & img {
      width: 100%;
      height: auto;
    }
  }
}
</style>

<script>
import store from '../store';
import ModalComponent from './modal.vue';
import { GALLERY as gallery } from '../assets/constants';

export default {
  name: 'GalleryComponent',
  store,
  components: {
    ModalComponent,
  },
  data() {
    return {
      gallery,
      thumbs: [],
      images: [],
      curImg: '',
      showModal: false,
    };
  },
  methods: {
    getImgUrl(e) {
      const image = require.context('../assets/img/gallery/', false, /\.jpg$/);
      console.log(e);
      return image;
    },
    openImg(thumb) {
      this.curImg = this.images.filter((img) => img.includes(thumb.split('.')[0]));
      this.showModal = true;
    },
    closeModal() {
      this.showModal = false;
    },
  },
  computed: {
    getLocal() {
      const { lang } = this.$store.state;
      return {
        top: this.gallery.title.top[lang],
        bottom: this.gallery.title.bottom[lang],
      };
    },
  },
  mounted() {
    const images = require.context('../assets/img/gallery/', false, /\.jpg$/);
    images.keys().forEach((el) => (el.includes('big') ? this.images.push(images(el)) : this.thumbs.push(images(el))));
  },
};

</script>
