<template>
  <div :class="isIe ? 'header_big header_big-ie' : 'header_big'">
    <img v-if="isIe" :src="getImgUrl" alt="" class="header_img_big">
    <div v-else class="header">
      <div class="header_top"><span>{{ getLocal.top }}</span></div>
      <div class="header_bottom"><span>{{ getLocal.bottom }}</span></div>
    </div>
  </div>
</template>

<script>
import { HEADER as header } from '../assets/constants';
import store from '../store';

export default {
  name: 'HeaderComponent',
  store,
  props: ['isIe'],
  data() {
    return {
      header,
    };
  },
  computed: {
    getLocal() {
      const { lang } = this.$store.state;
      return {
        top: this.header.top[lang],
        bottom: this.header.bottom[lang],
      };
    },
    getImgUrl() {
      const { lang } = this.$store.state;
      const image = require.context('../assets/img', false, /\.png$/);
      return image(`./header_${lang}.png`);
    },
  },
};
</script>

<style lang="less" scoped>
  .header {
    margin:0 auto;
    background: linear-gradient(106.61deg, #9C553E 0.75%, #FFD971 100.69%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &_big {
      position: absolute;
      opacity: 0;
      left: 50%;
      transform: translateX(-50%);
      top: 28%;
      animation: header_big ease-out  .5s forwards;
      max-width: 100%;
      letter-spacing: -2px;
    }

    &_top {
      font-size: 140px;
      font-weight: 900;
      text-transform: uppercase;
      white-space:nowrap;
      line-height: 1;
    }

    &_bottom {
      text-transform: uppercase;
      text-align:right;
      font-weight: 900;
      font-size:36px;
      line-height: 1;
    }
  }

  .header_big-ie {
    width: 100%;
    text-align: center;
    left: auto;
    transform: none;
  }

  @keyframes header_big {
    from{
      opacity: 0;
      top:38%;
    }to {
      opacity: 1;
      top: 20%;
    }
  }

  @media screen and (max-width: 1368px) {
    .header_top {
      font-size: 100px;
    }
    .header_img_big {
      padding: 0 18px;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 1080px) {
    .header {
      &_big {
        animation: none;
        margin-top: 30px;
        opacity: 1;
        position: static;
        transform: none;
        margin-bottom: 150px;
      }
      &_top {
        font-size: 64px;
        white-space: normal;
        text-align: center;
      }
      &_bottom {
        display: none;
      }
    }
  }

</style>
