<template>
  <div :class="isListShowed ? 'lang lang-active' : 'lang'">

    <div class="lang_cur" @click="showList">
      <div class="lang_item">
        <div :class="'lang_item_img lang_item_img-' + curLang.code" />
        <div class="lang_item_title">{{ curLang.title}}</div>
      </div>
      <span class="arrow_down arrow_down-lang_switcher"></span>
    </div>

    <transition name="fade">
      <ul v-show="isListShowed" class="lang_list">
        <li :key="lang.id" v-for="lang in list" class="lang_item" @click="setCur(lang)">
          <div :class="'lang_item_img lang_item_img-' + lang.code" />
          <div class="lang_item_title">{{ lang.title }}</div>
        </li>
      </ul>
    </transition>
  </div>
</template>

<script>
import { LANGUAGE_LIST as langList } from '../assets/constants';
import store from '../store';

export default {
  store,
  data() {
    return {
      langList,
      curLang: langList[1],
      isListShowed: false,
    };
  },
  computed: {
    list() {
      return this.langList.filter((l) => l.id !== this.curLang.id);
    },
  },
  methods: {
    setCur(lang) {
      this.curLang = lang;
      this.showList();
      this.$store.commit('setLang', lang.code);
    },
    showList() {
      this.isListShowed = !this.isListShowed;
    },
  },
};
</script>

<style lang="less" scoped>
@import url('../assets/common.less');
  .arrow_down-lang_switcher {
    .transition();
    opacity: 1;
    right: 8px;
  }

  .lang.lang-active .arrow_down-lang_switcher{
    opacity: 0;
  }

  .lang {
    .transition();
    position: absolute;
    z-index: 2;
    padding: 8px 16px 0 8px;
    right: 0;
    top: 0;
    min-width: 140px;
    cursor: pointer;

    &-active {
      background: #0006;
    }

    &_cur {
      margin-bottom: 16px;
    }

    &_cur .lang_item {
      opacity: 1;
    }

    &_list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &_item {
      padding: 0;
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      cursor: pointer;
      opacity: .6;
      .transition();

      &:hover {
        opacity: 1;
      }

      &_title {
        font-size: 14px;
        color: #fff;
      }

      &_img {
        margin-right: 8px;
        background-image: url(../assets/img/lang_sprite.png);
        background-repeat: no-repeat;
        height: 26px;
        width: 40px;

        &-ru {
          background-position-y: -27px;
        }

        &-en {
          background-position-y: -378px;
        }

        &-tur {
          background-position-y: -54px;
        }
      }
    }
  }

@media screen and (max-width: 1080px) {
  .lang {
    min-width: 125px;

    &_item_img {
      transform: scale(.8);
    }

    &_item_title {
      font-size: 12px;
    }
  }
}
</style>
