<template>
  <div class="modal">
    <div class="modal_overlay"></div>
    <div class="modal_content">
      <img :src="img"/>
    </div>
    <div class="modal_close" @click="toggleShow">X</div>
  </div>
</template>

<style lang="less" scoped>
@import url('../assets/common.less');

  .modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 10;
    color: #fff;

    &_overlay {
      background: rgba(0,0,0,.8);
      width: 100%;
      height: 100%;
    }

    &_content {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      padding: 40px;
    }
    &_close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
    }
  }
</style>

<script>
export default {
  name: 'ModalComponent',
  props: ['img'],
  data() {
    return {
      // show: !!this.$props.img,
    };
  },
  methods: {
    toggleShow() {
      this.$emit('closeModal');
    },
  },
};
</script>
