<template>
  <!-- <img src="@/img/blur_bg.png" class="preloader" alt=""> -->
  <div class="preloader preloader-grd" />
</template>

<style lang="less" scoped>
  .preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  .preloader-grd {
    opacity: 1;
    background: rgb(102,147,164);
    background: linear-gradient(150deg, rgba(33,60,70,1) 0%,
    rgba(94,75,80,1) 76%, rgba(94,51,51,1) 100%);
    animation: show ease 2s 2s forwards;
  }

  @keyframes show {
    from {
      opacity: 1;
    }to{
      opacity: 0;
    }
  }
</style>
