.transition {
  transition: all ease .24s;
}

.abolute_full {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

@orange: #FFC16B;

.fade-enter-active, .fade-leave-active {
  .transition();
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.arrow_down {
  position: absolute;
  right: 4px;
  top: 19px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}

.text-right {
  text-align: right;
}

.text-orange {
  color: @orange;
}

img {
  max-width: 100%;
}