<template>
  <div :class="isIe ? 'gaijin gaijin-ie' : 'gaijin'">
    <div class="wt_logo_block">
      <img src="@/assets/img/wt_logo.png" alt="" class="wt_logo_img">
    </div>
    <PreloaderComponent v-show="false" />
    <LangSwitcherComponent />
    <HeaderComponent :isIe="isIe"/>
    <div class="tower" v-show="!isIe" />
    <BonusSectionComponent />
    <GalleryComponent />
    <FooterComponent />
  </div>
</template>

<style lang="less">

@font-face {
  font-family: "Fira";
  src: url("/assets/fonts/FiraSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fira";
  src: url("/assets/fonts/FiraSans-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Fira";
  src: url("/assets/fonts/FiraSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.gaijin {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.gaijin-ie {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.wt_logo_block {
  margin-top: 50px;
  text-align: center;
}

.tower {
  background-image: url('./assets/img/tank_tower.png');
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-position: top center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // background-size: auto 100vh;
  background-size: cover;
}

html {
  font-family: Fira, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
      font-weight: 500;
}

body {
  background-image: url('./assets/img/bg.png');
  background-repeat: no-repeat;
  margin:0;
  padding:0;
  background-position: top center;
  // background-size: auto 100vh;
  background-size: cover;
}

* {
  box-sizing: border-box;
}
@media screen and (max-width: 1080px) {
  .wt_logo_block {
    margin-top: 25px;
  }

  .tower {
    display: none;
  }

  body {
    background-image: url(./assets/img/bg_mob.png);
    background-color: #000;
    background-size: cover;
  }

}

</style>

<script>
import BonusSectionComponent from './components/bonusSection.vue';
import HeaderComponent from './components/header.vue';
import PreloaderComponent from './components/preloader.vue';
import FooterComponent from './components/footer.vue';
import LangSwitcherComponent from './components/langSwitcher.vue';
import GalleryComponent from './components/gallery.vue';

export default {
  components: {
    BonusSectionComponent,
    HeaderComponent,
    PreloaderComponent,
    FooterComponent,
    LangSwitcherComponent,
    GalleryComponent,
  },
  computed: {
    isIe() {
      return document.documentMode || /Edge/.test(navigator.userAgent);
    },
  },
};
</script>
